# Exploraci칩n de los datos

In [1]:
# IMPORTS
# -------------------------
import pandas as pd
import os

In [2]:
# RUTAS
# -------------------------
BASE_PATH = r"C:\Users\usuario\OneDrive - POTENCIA\PROYECTOS\TAREA_ENTIDADES"
DATAPATH = os.path.join(BASE_PATH, "data", "ARCHIVOS")
os.makedirs(DATAPATH, exist_ok=True)
df = pd.read_excel(os.path.join(DATAPATH, "SECOP_CATEGORIZED.xlsx"))

print(f"游늸 DataFrame Inicial:\n Dimensiones: {df.shape}")

游늸 DataFrame Inicial:
 Dimensiones: (2818, 31)

In [3]:
# Descripcion del dataset
print("Descripci칩n del dataset:")
print(f" - N칰mero de filas: {df.shape[0]}")
print(f" - N칰mero de columnas: {df.shape[1]}")
print(f" - Columnas: {df.columns}")

Descripci칩n del dataset:
 - N칰mero de filas: 2818
 - N칰mero de columnas: 31
 - Columnas: Index(['nombre_entidad', 'nit_entidad', 'codigo_entidad', 'sector',
       'id_contrato', 'estado_contrato', 'modalidad_contrato',
       'codigo_categoria', 'fecha_de_firma', 'tipodocproveedor',
       'documento_proveedor', 'codigo_proveedor', 'proveedor_adjudicado',
       'origen_de_los_recursos', 'destino_gasto', 'valor_del_contrato',
       'codigo_BPIN', 'urlproceso', 'recursos_PGN', 'recursos_SGP',
       'recursos_SGR', 'recursos_territorio', 'recursos_credito',
       'recursos_propios', 'anio', 'texto', 'objetos', 'objeto_contractual',
       'subcategorias', 'SUB', 'MACRO'],
      dtype='object')

_________________________

## TOP DE ENTIDADES

In [4]:
# TABLA: Por valor de contrato
entidades = (
    df
    .groupby('nombre_entidad', as_index=False)
    .agg(
        valor_total=('valor_del_contrato', 'sum'),  # Agrupaci칩n por valor
        contratos=('id_contrato', 'count') 
    )
    .sort_values('valor_total', ascending=False)
    .head(30) 
)


# TABLA: MACRO categorias por valor del contrato
entidad_macro = (
    df
    .groupby(
        ['nombre_entidad', 'MACRO'],
        as_index=False
    )
    .agg(
        valor_total=('valor_del_contrato', 'sum'),
        contratos=('id_contrato', 'count')
    )
    .sort_values('valor_total', ascending=False)
)

# TABLA: SUB categorias por valor del contrato
entidad_macro_sub = (
    df
    .groupby(
        ['nombre_entidad', 'MACRO', 'SUB'],
        as_index=False
    )
    .agg(
        valor_total=('valor_del_contrato', 'sum'),
        contratos=('id_contrato', 'count')
    )
    .sort_values('valor_total', ascending=False)
)

# TABLA: Objeto contractual por valor de contrato
entidad_objeto = (
    df
    .groupby(
        ['nombre_entidad', 'objeto_contractual'],
        as_index=False
    )
    .agg(
        valor_total=('valor_del_contrato', 'sum'),
        contratos=('id_contrato', 'count')
    )
    .sort_values('valor_total', ascending=False)
)

# TABLA: MACRO x Objeto contractual por 
macro_objeto_entidad = (
    df
    .groupby(
        ['MACRO', 'objeto_contractual', 'nombre_entidad'],
        as_index=False
    )
    .agg(
        valor_total=('valor_del_contrato', 'sum'),
        contratos=('id_contrato', 'count')
    )
    .sort_values('valor_total', ascending=False)
)

___________

In [5]:
print("Top 30 Entidades Contratantes por Valor Total de Contratos:")
display(entidades)

Top 30 Entidades Contratantes por Valor Total de Contratos:

,nombre_entidad,valor_total,contratos
84,INVIAS,15595552846907,1861
0,AEROCIVIL,1062730954420,322
34,CORPORACI칍N AUT칍NOMA DEL R칈O GRANDE DE LA MAGD...,352687798312,6
15,ANI,147226582104,1
36,CVC,101016703194,6
41,EMPRESA NACIONAL PROMOTORA DEL DESARROLLO TERR...,85281878489,11
16,APC COLOMBIA,24139080805,6
33,CORPORACION NASA KIWE,20626612749,59
39,EDUNA (COMPRADOR),19779662223,28
91,MUNICIPIO DE MARINILLA,17152845094,8
42,ESAP SEDE CENTRAL (CUENTA OFICIAL),16752030035,7
11,ALCALD칈A MUNICIPAL DE MAGANGUE,15134384807,110
35,CORTOLIMA,14832929676,2
57,IDARTES,9710125195,1
7,ALCALDIA MUNICIPAL SARDINATA,9426104357,16
52,ICANH,8466668602,2
100,PROCURADURIA GENERAL DE LA NACION,7971214476,1
48,FISCAL칈A GENERAL DE LA NACI칍N REGIONAL CENTRAL,7503194961,7
2,AGUAS LA CRISTALINA ESP,7238071757,3
87,MINISTERIO DEL DEPORTE,7087500000,42
12,ALCALD칈A MUNICIPAL DE ROLDANILLO,5837189918,25
102,"SECRETARIA DISTRITAL DE SEGURIDAD, CONVIVENCIA...",5286131383,1
90,MUNICIPIO DE ENVIGADO,4851151527,3
86,"MINISTERIO DE LAS CULTURAS, LAS ARTES Y LOS SA...",4540242032,2
22,COMANDO A칄REO DE COMBATE NO.,4188564545,9
27,CORMACARENA,4091799463,1
45,ESCUELA INTERNACIONAL DE ENTRENAMIENTO DE LA P...,3200830000,1
40,EMPRESA DE DESARROLLO URBANO Y RURAL DE ANTIOQUIA,2834839405,1
46,ESCUELA TECNOL칍GICA INSTITUTO T칄CNICO CENTRAL,2782928367,4
109,SENA REGIONAL ATLANTICO INTERCENTROS,2781358864,1

In [6]:
# Top 10 entidades por MACRO
entidad_macro_top = (
    entidad_macro
    .groupby('MACRO', group_keys=False)
    .head(10)
)
entidad_macro_top.columns = [
    "Entidad",
    "Categor칤a MACRO",
    "Valor Total",
    "N칰mero de contratos"
]
print("Top 10 Entidades Contratantes por MACRO Categoria:")
display(entidad_macro_top)

Top 10 Entidades Contratantes por MACRO Categoria:

,Entidad,Categor칤a MACRO,Valor Total,N칰mero de contratos
117,INVIAS,Transporte,15062041107804,1838
2,AEROCIVIL,Transporte,1061660300530,315
52,CORPORACI칍N AUT칍NOMA DEL R칈O GRANDE DE LA MAGD...,Ambiental y gestion del territorio,352638388501,5
118,INVIAS,Urbanismo y desarrollo metropolitano,308149391398,1
116,INVIAS,Ambiental y gestion del territorio,225362347705,22
25,ANI,Transporte,147226582104,1
56,CVC,Productiva y de servicios,84301533072,3
68,EMPRESA NACIONAL PROMOTORA DEL DESARROLLO TERR...,Urbanismo y desarrollo metropolitano,72572848896,4
26,APC COLOMBIA,Transporte,24139080805,6
69,ESAP SEDE CENTRAL (CUENTA OFICIAL),Urbanismo y desarrollo metropolitano,16752030035,7
54,CORTOLIMA,Productiva y de servicios,14832929676,2
64,EDUNA (COMPRADOR),Urbanismo y desarrollo metropolitano,12282031483,17
55,CVC,Ambiental y gestion del territorio,11186550372,1
50,CORPORACION NASA KIWE,Transporte,10965018268,34
87,IDARTES,Urbanismo y desarrollo metropolitano,9710125195,1
10,ALCALDIA MUNICIPAL SARDINATA,Productiva y de servicios,9061645586,2
66,EMPRESA NACIONAL PROMOTORA DEL DESARROLLO TERR...,Productiva y de servicios,8476383468,2
82,ICANH,Transporte,8466668602,2
140,PROCURADURIA GENERAL DE LA NACION,Transporte,7971214476,1
17,ALCALD칈A MUNICIPAL DE MAGANGUE,Productiva y de servicios,7864116504,4
77,FISCAL칈A GENERAL DE LA NACI칍N REGIONAL CENTRAL,Transporte,7503194961,7
5,AGUAS LA CRISTALINA ESP,Productiva y de servicios,7238071757,3
121,MINISTERIO DEL DEPORTE,Urbanismo y desarrollo metropolitano,7087500000,42
129,MUNICIPIO DE MARINILLA,Transporte,7069041457,4
51,CORPORACION NASA KIWE,Urbanismo y desarrollo metropolitano,6622994481,20
63,EDUNA (COMPRADOR),Transporte,6008953100,7
130,MUNICIPIO DE MARINILLA,Urbanismo y desarrollo metropolitano,5809616377,1
57,CVC,Urbanismo y desarrollo metropolitano,5528619750,2
120,"MINISTERIO DE LAS CULTURAS, LAS ARTES Y LOS SA...",Urbanismo y desarrollo metropolitano,4540242032,2
128,MUNICIPIO DE MARINILLA,Productiva y de servicios,4274187260,3
39,CORMACARENA,Productiva y de servicios,4091799463,1
125,MUNICIPIO DE ENVIGADO,Ambiental y gestion del territorio,3748898383,1
49,CORPORACION NASA KIWE,Productiva y de servicios,3038600000,5
65,EMPRESA DE DESARROLLO URBANO Y RURAL DE ANTIOQUIA,Productiva y de servicios,2834839405,1
16,ALCALD칈A MUNICIPAL DE MAGANGUE,Ambiental y gestion del territorio,1713891880,2
41,CORPORACION AUTONOMA REGIONAL DE SANTANDER,Ambiental y gestion del territorio,1071850118,2
147,SENA REGIONAL AMAZONAS,Ambiental y gestion del territorio,582872946,8
61,EDUNA (COMPRADOR),Ambiental y gestion del territorio,366650284,1
0,AEROCIVIL,Ambiental y gestion del territorio,136237782,2
135,PARQUES NACIONALES NATURALES DE COLOMBIA - DIR...,Ambiental y gestion del territorio,134224738,4

In [7]:

# Top 10 por MACRO + SUB
entidad_macro_sub_top = (
    entidad_macro_sub
    .groupby(
        ['MACRO', 'SUB'],
        group_keys=False
    )
    .head(10)
)

print("Top 10 Entidades Contratantes por MACRO y SUB Categoria:")
display(entidad_macro_sub_top)

Top 10 Entidades Contratantes por MACRO y SUB Categoria:

,nombre_entidad,MACRO,SUB,valor_total,contratos
143,INVIAS,Transporte,Vias,10713837601341,1449
140,INVIAS,Transporte,Puente,1730269755544,42
141,INVIAS,Transporte,Puerto,1704327987961,35
3,AEROCIVIL,Transporte,Aeropuerto,859791150490,285
144,INVIAS,Transporte,Vias terciarias,781786686692,299
...,...,...,...,...,...
4,AEROCIVIL,Transporte,Puente,48589798,2
106,ICBF REGIONAL CORDOBA,Ambiental y gestion del territorio,Reservas y ecoparques,45884587,1
190,SENA REGIONAL CHOCO GRUPO DE APOYO ADMINISTRAT...,Ambiental y gestion del territorio,Reservas y ecoparques,22110000,1
129,INSTITUTO COLOMBIANO AGROPECUARIO - ICA,Transporte,Aeropuerto,18047699,1
204,SENA REGIONAL QUINDIO GRUPO DE APOYO ADMINISTR...,Productiva y de servicios,Turismo,17182797,1

In [8]:

# Top 20 objetos por entidad
entidad_objeto_top = (
    entidad_objeto
    .groupby('nombre_entidad', group_keys=False)
    .head(20)
)
print("Top 20 Objetos Contractuales por Entidad Contratante:")
display(entidad_objeto_top)

Top 20 Objetos Contractuales por Entidad Contratante:

,nombre_entidad,objeto_contractual,valor_total,contratos
151,INVIAS,Mejoramiento,9767447247022,420
149,INVIAS,Construccion,3021184516987,95
150,INVIAS,Mantenimiento,2283721229757,1067
4,AEROCIVIL,Mejoramiento,421117682221,23
66,CORPORACI칍N AUT칍NOMA DEL R칈O GRANDE DE LA MAGD...,Mantenimiento,334460546954,3
...,...,...,...,...
188,SENA REGIONAL ATLANTICO,Adecuacion,7957598,1
157,MINISTERIO DEL TRABAJO - DIRECCI칍N TERRITORIAL...,Mantenimiento,6945700,1
119,INSTITUCION EDUCATIVA DISTRITAL ANTONIO JOSE D...,Reparacion,3500000,1
51,CONTRALORIA GENERAL DE LA REPUBLICA-CGR-GERENC...,Reparacion,3220000,1
140,INSTITUTO COLOMBIANO AGROPECUARIO-SECCIONAL CA...,Mantenimiento,1350000,1

In [9]:


# Top 10 entidades por MACRO + objeto
macro_objeto_entidad_top = (
    macro_objeto_entidad
    .groupby(
        ['MACRO', 'objeto_contractual'],
        group_keys=False
    )
    .head(10)
)

print("Top 10 Entidades Contratantes por MACRO Categoria y Objeto Contractual:")
display(macro_objeto_entidad_top)

Top 10 Entidades Contratantes por MACRO Categoria y Objeto Contractual:

,MACRO,objeto_contractual,nombre_entidad,valor_total,contratos
175,Transporte,Mejoramiento,INVIAS,9457847855624,417
131,Transporte,Construccion,INVIAS,3013821046772,93
158,Transporte,Mantenimiento,INVIAS,2124647393299,1052
161,Transporte,Mejoramiento,AEROCIVIL,421056808486,22
14,Ambiental y gestion del territorio,Mantenimiento,CORPORACI칍N AUT칍NOMA DEL R칈O GRANDE DE LA MAGD...,334460546954,3
...,...,...,...,...,...
18,Ambiental y gestion del territorio,Mantenimiento,SENA REGIONAL CHOCO GRUPO DE APOYO ADMINISTRAT...,22110000,1
275,Urbanismo y desarrollo metropolitano,Otros,INSTITUCION EDUCATIVA JOSE MARIA VILLA,11237928,1
24,Ambiental y gestion del territorio,Otros,SENA REGIONAL GUAIN칈A GRUPO DE APOYO ADMINISTR...,10659700,1
281,Urbanismo y desarrollo metropolitano,Reparacion,INSTITUCION EDUCATIVA DISTRITAL ANTONIO JOSE D...,3500000,1
192,Transporte,Reparacion,CONTRALORIA GENERAL DE LA REPUBLICA-CGR-GERENC...,3220000,1

________________

In [10]:
ruta_salida = "CONTRATACION.xlsx"

with pd.ExcelWriter(
    os.path.join(DATAPATH, ruta_salida),
    engine="openpyxl", 
) as writer:
    entidades.to_excel(writer, sheet_name="Top_Entidades", index=False)
    entidad_macro_top.to_excel(writer, sheet_name="Entidad_x_MACRO", index=False)
    entidad_macro_sub_top.to_excel(writer, sheet_name="Entidad_x_MACRO_x_SUB", index=False)
    entidad_objeto_top.to_excel(writer, sheet_name="Entidad_x_Objeto", index=False)
    macro_objeto_entidad_top.to_excel(writer, sheet_name="MACRO_x_Objeto_x_Entidad", index=False)